# terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
*tfplan*
.terraformrc
terraform.rc
*.private.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log files
crash.log
crash.*.log

# ide
*.iml
.idea/**
.vscode

# pem files
*.pem
*.crt
*.ovpn
*.key

